.card {
  background: black;
  border-radius: 5px;
  height: 225px;
  margin: 1rem;
  position: relative;
  width: 225px;
  box-shadow: 0 3px 6px rgb(8, 8, 8), 0 3px 6px rgb(14, 13, 13);
}

.card > .img-container {
  height: 99%;
  overflow: hidden;
  text-align: center;
  background: black;
}
.card > .img-container > img {
  width: 99%;
}




